{% extends 'base.html.twig' %}

{% block title %}{{ user.fullname }} posts{% endblock %}

{% block body %}
    <div class="col-sm-4 container col-12" style="position: absolute; right: 75px">
        <div class="row post mt-4">
            <div class="col-md-12">
                <p class="mt-1 text-capitalize">Utilisateur : {{ user.fullname }}</p>
                <hr>
                <p class="mt-1 text-capitalize">Pseudo : {{ user.username}}</p>
            </div>
        </div>
    </div>
    <div class="col-sm-7 mt-4 mx-4">
        {% for post in posts %}
            <div class="row post mb-1">
                <div class="col-12">
                    <h2 class="text-capitalize">{{ post.title }}</h2>
                    <p class="added">{{ post.user.fullname }}{{ post.time|date("F jS \\a\\t g:ia") }}</p>
                    <p>{{ post.body }}</p>
                    <a href="{{ path('blog_show',{'slug':post.slug}) }}" class="btn btn-default float-left text-capitalize">Lire la suite</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
