<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap">
            <link rel="stylesheet" href="/assets/css/app.css">
        {% endblock %}
    </head>
    <body>
        <div class="site-header">
            <header class="container">
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <div class="logo">
                            <h2 class="text-uppercase">
                                SYM BLOG
                            </h2>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 text-center">
                        <ul class="socials float-right mt-4 p-2">
                            <li><a href="" class="p-2"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="" class="p-2"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="" class="p-2"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="" class="p-2"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </header>
            <div class="main-nav">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="#"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse container" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="/">Acceuil<span class="sr-only">(current)</span></a>
                            </li>
                            {% if is_granted('ROLE_USER') %}
                            <li class="nav-item">
                                <a class="nav-link" href="#">{{ app.user.fullname }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('post_add') }}">Publier un statut</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('security_logout') }}">Déconnexion</a>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('register_user') }}">Inscription</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('security_login') }}">Connexion</a>
                            </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contact</a>
                            </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" name="search" placeholder="Recherche" aria-label="Search">
                            <button class="btn btn-outline-success search my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </nav>
            </div>
        </div>
        <div class="container mt-4">
            <div>
                {% block body %}

                {% endblock %}
            </div>
        </div>
        {% block javascripts %}
        <div class="footer">
            <footer class="text-center text-capitalize mt-4">
                <ul class="mt-3">
                    <li>SYMFONY BLOG &copy;2019</li>
                    <li><a href="">A propos</a></li>
                    <li><a href="">Politique de confidentialité</a></li>
                    <li><a href="">Contatctez Nous</a></li>
                </ul>
            </footer>
        </div>
            <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
